<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/rizkon.jpeg" alt="Rizkon Recount" class="img-thumbnail rounded-circle" width="200"/>
            <h1 class="display-4">Rizkon Recount</h1>
            <p class="lead">Lecturer | Web Developer</p>
        </div>
    </div>
</div>